@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
text-decoration: none;
list-style: none;
font-family: 'Work Sans', sans-serif;
} 

html {
max-width: 100%;
margin: 0 auto;
max-width: 1440px;
}

body{
background-color:#2e2e2e ;
min-height: 100%;
height: 100vh;
margin: 0;
box-sizing: border-box;
overflow: hidden;
}

/*--------------------------------------------Header-----------------*/
header {
display: flex;
justify-content: space-between;
align-items: center;
}

/*---------------------------------Fixed Navigation für Social Media-----------------------------------------*/

nav {
padding-right: 8%;
position: fixed;
top: 0;
right: 0;
}

header nav ul{
display: flex;
}

ul li {
display: flex;
white-space: nowrap;
padding: 3%;
font-size: .5rem;
}

ul li:first-of-type {
padding-right: 13%;
}

ul li:nth-of-type(4){
padding-right: 13%; 
}

a {
color: #ebccc2;
font-size: .5rem;
}

a:hover {
color: rgb(234, 204, 194);
font-size: .5rem;
}

/*--------------------------------Fixed Logo------------------------------------------*/

.logo img {
width: 2%;
padding: 1.5% 0 0 3%;
position: fixed;
top: 0;
left: 0;
}

/*----------------------------------------Jetzt kommt die Side Navigation Bar-------------------------------------------*/



.navmenu {
position: fixed;
top: 50%;
left: 2%;
transform: translateY(-50%);
}    

.navmenu ul {
padding-left: 50px;
position: relative;
}

.navmenu ul::after {
content: "";
position: absolute;
width: 3px;
height: calc(100% - 63px);
background:  #867772;
left: 40px;
top: 0;
z-index: -1;
margin-top: 29px;
}

.navmenu ul li {               /*----------Bullet points padding von den li´s----------*/
padding-left: 20px;
padding: 30px 0;
}

.navmenu ul li a {
text-decoration: none;
position: relative;
color:rgb(115, 115, 115);  
font-size: 1.1rem;
line-height: 1rem;
font-weight: 300;
padding-left: 5.5%;
cursor: pointer;
}

/*-------- Hovereffekt einfügen---------------------------------*/
.navmenu ul li a:hover {
text-decoration: none;
position: relative;
color:#fff ;  
font-size: 1.1rem;
line-height: 1rem;
font-weight: 300;
padding-left: 5.5%;
cursor: pointer;
}
/*----------------------------------Bullet points!--------------*/
.navmenu ul li a::before {
content: "";
position: absolute;
background: #2e2e2e;
width: 21px;
height: 21px;
left: -21px; /* Ich denke, dass es hilft, um die Kreise genau auf die Linien zubringen*/
top: 50%;
transform: translateY(-50%);
border-radius: 50px;
border: 2px solid #fff;
transition: background 250ms;
}

.navmenu ul li a.active {
font-weight: 700;
}

.navmenu ul li a.active::before {     
background: rgb(115, 115, 115);

}
/*-------------------------------------------Grid-Experience 2*2 Matrix---------------------*/

#gridExperience {
height: 100vh;
display: grid;
grid-template-columns: 1.2fr 1fr;
grid-template-rows: 1fr;
gap: 5%;

}

#gridExperience .soundBox {
grid-area: 1/1/2/2;
}

#gridExperience .soundBox img {
width: 100%;
height: 100vh;
object-fit: cover;
object-position: 64% 100%;

}

.experienceContent {
padding: 18% 0 5% 5%;
}
/*-----------------------------------------Überschrift---------------------------------*/
.experienceContent h2 {
color: #ebccc2;
font-weight: 300;
font-size: 2.5rem;
padding-bottom: 10%;
margin-top: 0;
}

.experienceContent p {
color:rgb(115, 115, 115);
font-size: 1.3rem;
font-weight: 300;
line-height: 2rem;
padding-right: 11% ;
}